#memeOne {
  width:140px;
  height:160px;
  
  border:4px solid green;
  background: blue 10px;
  margin:4px;
}

#memeTwo{
  width:140px;
  height:160px;
  
  border:4px solid green;
}

#memeThree{
  width:140px;
  height:160px;
  
  border:4px solid green;
}
}
  
}

#body {
  background: grey;
  border: dashed purple 4px;
  padding: 20px;
}
